[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
whitenoise = "*"
"django-bootstrap4" = "*"
graphene-django = "*"

[dev-packages]

[requires]
python_version = "3.6"
